<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="editorFontFamily" value="Consolas"/>
    <add key="editorFontSizeSmall" value="11"/>
    <add key="editorFontSizeMedium" value="12.5"/>
    <add key="editorFontSizeBig" value="14"/>
    <add key="logFontFamily" value="Consolas"/>
    <add key="logFontSizeSmall" value="9.0"/>
    <add key="logFontSizeMedium" value="10.50"/>
    <add key="logFontSizeBig" value="12"/>
    <add key="environmentFontFamily" value="Segoe UI"/>
    <add key="environmentFontSizeSmall" value="9.50"/>
    <add key="environmentFontSizeMedium" value="11.0"/>
    <add key="environmentFontSizeBig" value="12.5"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
